<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tss.webuilddemo">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainMenuActivity"/>
        <activity android:name=".AaActivity"/>
        <activity android:name=".BbActivity"/>
        <activity android:name=".BbbActivity"/>
        <activity android:name=".BbbbActivity"/>
        <activity android:name=".BbbbbActivity"/>
        <activity android:name=".BbbbbbActivity"/>
        <activity android:name=".CcActivity"/>
        <activity android:name=".DdActivity"/>
        <activity android:name=".EdActivity"/>
        <activity android:name=".FfActivity"/>
        <activity android:name=".FffActivity"/>
    </application>

</manifest>